@page "/favorites"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization

@inject AuthenticationStateProvider AuthStateProvider


<h1>Favorites</h1>
<p>This page is protected.</p>
@inject AuthenticationStateProvider AuthStateProvider

@code {
    private string? _userId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        _userId = user.FindFirstValue(ClaimTypes.NameIdentifier);
    }
}
