@using Microsoft.AspNetCore.Components.Authorization

<nav class="app-menu">
    <div class="app-menu-brand">
        <div class="app-menu-title">ifosup</div>
        <div class="muted app-menu-subtitle">API + Auth + Favorites</div>
    </div>

    <div class="app-menu-links">
        <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink href="apiweather">API Weather</NavLink>

        <AuthorizeView>
            <Authorized>
                <NavLink href="favorites">Favorites</NavLink>
                <a href="/Identity/Account/Manage">Account</a>
                <a href="/Identity/Account/Logout">Logout</a>
            </Authorized>

            <NotAuthorized>
                <a href="/Identity/Account/Register">Register</a>
                <a href="/Identity/Account/Login">Login</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>
